In [ ]:
# Assignment 1

In [ ]:
# importing libraries
import numpy as np
import pandas as pd

In [ ]:
# loading dataset in pandas
df=pd.read_csv('AB_NYC_2019.csv')

In [ ]:
df.head()
# head returns the 1st n rows, n is default 5

In [ ]:
df.tail()
#returns the last n rows, default is 5

In [ ]:
df.head(10)
# we can give the number of rows to the head function as well as tail

In [ ]:
df.describe()
#used to generate descriptive statistics in pandas dataframe
# it provides summary statistics of the numerical coulmns in the dataframe , such as count,mean , standard deviation, minimum, maximum

In [ ]:
df.isnull()
#used to check for missing or null values in a dataframe

In [ ]:
df.info()
#provides concise summary of a dataframe, including the data types, non-null values, and memory usage

In [11]:
df.duplicated().sum()
# used to identify duplicate rows in a dataframe 
# it returns a boolean series that indicates whether each row is duplicate or not

0

In [13]:
df.drop_duplicates(inplace=True)
#used to drop duplicates

In [14]:
df.shape
# used to retrive the dimensions of a dataframe

(48895, 16)

In [16]:
df.dtypes
# used to get the datatypes of the columns

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [17]:
df["last_review"]=pd.to_datetime(df.last_review)
# convert to datetime

In [18]:
df.fillna(df.mean(),inplace=True)
# is used to fill missing or null values in a dataset

C:\Users\Icon\AppData\Local\Temp\ipykernel_38472\2382741910.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.fillna(df.mean(),inplace=True)
C:\Users\Icon\AppData\Local\Temp\ipykernel_38472\2382741910.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True)

In [12]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [13]:
# dropping unnecessary columns
df.drop(['name','id','host_name','last_review'],axis=1,inplace=True)

In [14]:
df.isnull().sum()

host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [23]:
df.shape

(48895, 12)

In [24]:
df.head()

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.210000,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.380000,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1.373221,1,365
3,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.640000,1,194
4,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.100000,1,0

In [25]:
# One hot encoding
# it is used to turn categorical variables into a binary representation

In [20]:
one_hot_roomtype=pd.get_dummies(df.room_type).add_prefix('room_type_') 
# get_dummies is used to convert categorical variables into a set of binary columns, known as dummy variables

In [15]:
one_hot_neighbourhood=pd.get_dummies(df.neighbourhood).add_prefix('neighbourhood_')

In [ ]:
one_hot_neighbourhood_group=pd.get_dummies(df.neighbourhood_group).add_prefix('neighbourhood_group_')

In [28]:
df=df.drop(['neighbourhood_group','neighbourhood','room_type','host_id'],axis=1)

In [29]:
df=pd.concat([df,one_hot_neighbourhood,one_hot_roomtype,one_hot_neighbourhood_group],axis='columns')

In [30]:
df.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_Allerton,neighbourhood_Arden Heights,...,neighbourhood_Woodrow,neighbourhood_Woodside,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island
0,40.64749,-73.97237,149,1,9,0.21,6,365,0,0,...,0,0,0,1,0,0,1,0,0,0
1,40.75362,-73.98377,225,1,45,0.38,2,355,0,0,...,0,0,1,0,0,0,0,1,0,0
2,40.80902,-73.94190,150,3,0,NaN,1,365,0,0,...,0,0,0,1,0,0,0,1,0,0
3,40.68514,-73.95976,89,1,270,4.64,1,194,0,0,...,0,0,1,0,0,0,1,0,0,0
4,40.79851,-73.94399,80,10,9,0.10,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [ ]:
# data normalization
# copy the data
df_min_max_scaled = df.copy()
df_min_max_scaled.head()
df_min_max_scaled.drop(['price'], axis = 1,inplace=True)
# apply normalization techniques
for column in df_min_max_scaled.columns:
   
        df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min()) 
      
# view normalized data
display(df_min_max_scaled)

In [34]:
df_min_max_scaled=df.copy()

In [35]:
df_min_max_scaled.drop(['price'],axis=1,inplace=True)

In [38]:
for column in df_min_max_scaled.columns:
    df_min_max_scaled[column]=(df_min_max_scaled[column]-df_min_max_scaled[column].min())/(df_min_max_scaled[column].max()-df_min_max_scaled[column].min())
display(df_min_max_scaled)

TypeError: '<=' not supported between instances of 'str' and 'float'